*.o
lab_5/pthreads_calka.tgzZone.Identifier
lab_5/pthreads_suma.tgzZone.Identifier
lab_5/zad_1/MakefileZone.Identifier
lab_5/zad_1/pthreads_suma
lab_5/zad_1/pthreads_suma.cZone.Identifier
lab_5/zad_1/include/pomiar_czasu.hZone.Identifier
lab_5/zad_1/lib/libpomiar_czasu.a
lab_5/zad_2/dekompozycja_obszaru.cZone.Identifier
lab_5/zad_2/dekompozycja_petli.cZone.Identifier
lab_5/zad_2/libpomiar_czasu.a
lab_5/zad_2/MakefileZone.Identifier
lab_5/zad_2/obliczanie_calki
lab_5/zad_2/obliczanie_calki.cZone.Identifier
